@model IEnumerable<Staychill.Models.ProductModel.DiscountModel.Discount>

@{
    ViewData["Title"] = "DiscountIndex";
}

<h1>DiscountIndex</h1>

<div>
    <a asp-action="DiscountCreate">Create New</a> 
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiscountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                <a asp-action="DiscountCalculate" asp-route-id="@item.Id">Calculate Example</a> |
                <a asp-action="DiscountDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
