@model IEnumerable<Staychill.Models.BankModel.CreditCard>

@{
    ViewData["Title"] = "PaymentCardIndex";
}

<h1>PaymentCardIndex</h1>

<p>
    <a asp-action="PaymentCardPayment">Try Card Payment</a>
</p>

@if (!Model.Any()) // Check if the model is empty
{
    <p>No credit cards found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().CardType)</th>
                <th>@Html.DisplayNameFor(model => model.First().NameOnCard)</th>
                <th>@Html.DisplayNameFor(model => model.First().CardNumber)</th>
                <th>@Html.DisplayNameFor(model => model.First().ExpiredDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().CVV)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CardType)</td>
                    <td>@Html.DisplayFor(modelItem => item.NameOnCard)</td>
                    <td>@Html.DisplayFor(modelItem => item.CardNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpiredDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.CVV)</td>
                    <td><a asp-action="PaymentCardDelete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
