@model IEnumerable<Staychill.Models.ProductModel.Product>

@{
    @if (User.Identity.IsAuthenticated)
    {
        Layout = "_Logged-In_Layout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>ProductIndex</h1>

<div>
    <a asp-action="ProductCreate">Create Product</a> |
    <a asp-action="ProductAddCart">See Cart</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instock)
            </th>
            <th>
                Pics
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Color)
                </td>
                <td class="container-fluid">
                    @Html.DisplayFor(modelItem => product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Instock)
                </td>
                <td class="container-fluid">
                    @if (product.Images != null)
                    {
                        <div>
                            @if (product.Images.Image1 != null)
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(product.Images.Image1)}")" alt="Image 1" style="width: 50px; height: 50px;" />
                            }
                            @if (product.Images.Image2 != null)
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(product.Images.Image2)}")" alt="Image 2" style="width: 50px; height: 50px;" />
                            }
                            @if (product.Images.Image3 != null)
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(product.Images.Image3)}")" alt="Image 3" style="width: 50px; height: 50px;" />
                            }
                            @if (product.Images.Image4 != null)
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(product.Images.Image4)}")" alt="Image 4" style="width: 50px; height: 50px;" />
                            }
                        </div>
                    }
                </td>
                <td>
                    <!-- ปุ่ม Add to Cart -->
                    <form asp-action="CartIndex" asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <input type="number" name="quantity" value="1" min="1" />
                        <button type="submit">Add to Cart</button>
                    </form>

                    <!-- ปุ่ม Details -->
                    <a asp-action="ProductDetails" asp-route-id="@product.Id" class="btn btn-info">Details</a>

                    <!-- ปุ่ม Edit -->
                    <a asp-action="ProductEdit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>

                    <!-- ปุ่ม Delete -->
                    <a asp-action="ProductDelete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>