@model Staychill.ViewModel.TrackingViewModel

<div class="container-fluid border">
    <h1 class="mt-5">ProductAddCart</h1>
    <form asp-action="CreateShipment" asp-controller="Tracking">
        <table class="table justify-content-center align-items-center align-content-center">
            <thead>
                <tr>
                    <th>Cart ID</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cart in Model.CartItemDetails)
                {
                    foreach (var item in cart.CartItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => cart.CartId)
                                <input type="hidden" name="cartIds" value="@cart.CartId" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Quantity)
                                <input type="hidden" name="quantities" value="@item.Quantity" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.UnitPrice)
                                <input type="hidden" name="unitPrices" value="@item.UnitPrice" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.TotalPrice)
                                <input type="hidden" name="totalPrices" value="@item.TotalPrice" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Product.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Product.ProductType)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Product.Color)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary mt-2">Pay for All Items</button>
    </form>
</div>
