@model Staychill.Models.ProductModel.TrackingModel.Tracking;

@{
    Layout = "_AdminLayout";
}

<link href="/css/AdminCSS/AdminTrackingDetail.css" rel="stylesheet" asp-append-version="true" />


<div class="container mt-4" style="overflow-x:hidden">
    <h1 class="fw-bold text-center">Tracking-controller</h1>
    <hr class="mb-4" />


    <div class="tracking-left-column row col-12">
        <div class="col-6" style="border-right:solid 1px #b7b7b7">
            <h4 class="fw-bold">Tracking Information</h4>
            <div class="tracking-left-text-container ms-2">
                <p class="fs-5"><strong>User ID:</strong> @Model.UserId</p>
                <p class="fs-5"><strong>User Name:</strong> @Model.User</p>
                <p class="fs-5"><strong>Shipment Code:</strong> @Model.ShipmentCode</p>
                <p class="fs-5"><strong>Status:</strong> @Model.Status</p>
                <p class="fs-5">
                    <strong>Total Price:</strong>
                    @string.Join(", ", Model.RetainCarts.Select(r => r.RetainCartItems.FirstOrDefault()?.TotalDiscountedPrice.ToString("N2") ?? "0.00")) ฿
                </p>
            </div>
        </div>
        @if (Model.PaymentMethod != null)
        {
            <div class="tracking-right-column col-6 ps-5">
                <h4 class="fw-bold">Payment Information</h4>
                <div class="ms-2">

                    <p class="fs-5"><strong>Type:</strong> @Model.PaymentMethod.PaymentmethodType</p>

                        @if (Model.PaymentMethod.PaymentmethodType == "Credit Card")
                        {
                        <p class="fs-5"><strong>Credit Card Number:</strong> @Model.PaymentMethod.CreditCard.CardType</p>
                        <p class="fs-5"><strong>Credit Card Number:</strong> @Model.PaymentMethod.CreditCard.CardNumber</p>
                        <p class="fs-5"><strong>Credit Card Number:</strong> @Model.PaymentMethod.CreditCard.ExpiredDate</p>
                        <p class="fs-5"><strong>Credit Card Number:</strong> @Model.PaymentMethod.CreditCard.CVV</p>
                        }
                        @if (Model.PaymentMethod.PaymentmethodType == "Bank transfer")
                        {
                        <p class="fs-5"><strong>Bank Transfer Details:</strong> @Model.PaymentMethod.BankTransfer.BankAccount</p>
                        <p class="fs-5"><strong>Bank Transfer Details:</strong> @Model.PaymentMethod.BankTransfer.BankNumber</p>
                        }
                        @if (Model.PaymentMethod.PaymentmethodType == "Prompt Pay")
                        {

                            var base64String = Convert.ToBase64String(Model.PaymentMethod.QRData.UserUploadedData);

                            <p class="fs-5"><strong>Slip:</strong></p>
                            <img src="data:image/png;base64,@base64String" alt="QR Code" class="img-fluid" width="100px" height="100px" />
                        }
                </div>
            </div>
        }
    </div>
    <hr class="mt-4"/>
    <div class="tracking-product-list d-flex flex-column justify-content-start align-items-start align-content-start">
        <h4 class="fw-bold">Products list</h4>
        @foreach (var model in Model.RetainCarts)
        {
            @foreach (var shipment in model.RetainCartItems)
            {
               <div class="tracking-shipment container-fluid align-middle d-flex flex-row justify-content-start align-items-center align-content-center mb-3 p-2 p-md-3 text-center">

                    <div class="text-center text-md-start mb-1 mb-md-0 ps-0 ps-md-3">
                        @if (shipment.ProductIMG != null)
                        {
                            @if (shipment.ProductIMG != null)
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(shipment.ProductIMG)}")" alt="Image 1" class="tracking-product-img img-fluid" width="70px" height="70px" />
                            }
                        }
                    </div>
                    <div class="tracking-product-name text-start fw-bold fs-3 pe-2 ms-4">@Html.DisplayFor(model => shipment.ProductName)</div>
                    <div class="tracking-product-name text-start fs-3 pe-2">| @Html.DisplayFor(model => shipment.Color)</div>
                    <div class="col"></div>
                    <div class="tracking-totalprice text-center fw-bold fs-3 me-4">@Html.DisplayFor(model => shipment.TotalPrice) ฿</div>
                </div>
            }
        }
    </div>
    

    <div class="mt-4">
        <a asp-action="TrackingEdit" asp-route-shipmentCode="@Model.ShipmentCode" class="tracking-edit-btn btn btn-primary fs-5 me-1 text-white">Edit</a>
        <a asp-action="Tracking" class="btn btn-secondary fs-5 ms-1">Back to list</a>
    </div>
</div>

