<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Staychill</title>
    <link rel="icon" href="~/pic/StayChill logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Staychill.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/UserCSS/forLayout.css" asp-append-version="true" />

    <!-- Icons Library CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <!-- === Header === -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <!-- Container of elements -->
            <div class="container-fluid ps-2 ps-sm-0">
                <!-- Collapse button -->
                <button class="collapse-1 navbar-toggler" id="navbarToggleButton" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <!-- Navbar content -->
                <div class="navbar-collapse collapse d-sm-flex flex-sm-row justify-content-center ps-3">
                    <!-- Unorder List of navigation links -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item d-flex flex-column flex-sm-row fs-5">
                            <!-- Another Collapse button -->
                            <button class="collapse-2 navbar-toggler" id="navbarToggleButton" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <!-- Home -->
                            <a class="nav-link text-dark fw-normal ms-3 ms-sm-2" asp-area="" asp-controller="User" asp-action="Home">Home</a>
                            <!-- Products dropdown -->
                            <div class="nav-item dropdown ms-3 ms-sm-2">
                                <div class="nav-link text-dark fw-normal" id="productDropdown" role="button">
                                    Products <span class="arrow-right" id="arrowIcon"><i class="fa-solid fa-angle-right"></i></span>
                                </div>
                                <ul class="dropdown-menu" id="productDropdownMenu" aria-labelledby="productDropdown">
                                    <li><a class="dropdown-item dropline text-decoration-none text-black" asp-action="ProductMainPage" asp-controller="Product">All products</a></li>
                                    <li><a class="dropdown-item dropline text-decoration-none text-black" asp-route-category="Mug" asp-action="ProductMainPage" asp-controller="Product">Mug</a></li>
                                    <li><a class="dropdown-item dropline text-decoration-none text-black" asp-route-category="Steel Flask" asp-action="ProductMainPage" asp-controller="Product">Steel Flask</a></li>
                                    <li><a class="dropdown-item text-decoration-none text-black" asp-route-category="Tumbler" asp-action="ProductMainPage" asp-controller="Product">Tumbler</a></li>
                                </ul>
                            </div>
                            <!-- About us -->
                            <a class="nav-link text-dark fw-normal ms-3 ms-sm-2" href="@Url.Action("Home", "User")#about-us">About us</a>
                            <!-- Tracking -->
                            <a class="nav-link text-dark fw-normal ms-3 ms-sm-2" asp-area="" asp-controller="Tracking" asp-action="TrackingIndex">Tracking</a>
                        </li>
                    </ul>
                    <!-- Unorder List of navigation links -->
                </div>              
                <!-- Cart & User -->
                <div class="d-flex ms-auto align-items-center align-content-start align-content-sm-center me-3">
                    <a class="searchnav text-decoration-none" asp-action="ProductMainPage" asp-controller="Product"><i class="bi bi-search"></i></a>
                    <a class="cartnav" asp-controller="Cart" asp-action="CartIndex"><i class="bi bi-cart2"></i></a>       
                    <!-- User dropdown -->
                    <div class="nav-item dropdown">
                        <div class="nav-link text-dark fw-normal  usernav" id="userDropdown" role="button">
                            <i class="bi bi-person"></i>
                        </div>
                        <ul class="dropdown-user" aria-labelledby="userDropdown">
                            <li><p class="text-center fw-bold fs-5 mt-1">@User.Identity.Name</p></li>
                            <hr />
                            <li><a class="dropdown-item dropline text-decoration-none text-black" asp-route-username="@User.Identity.Name" asp-action="EditProfile" asp-controller="User">Edit Profile</a></li>
                            <li><a class="dropdown-item dropline text-decoration-none text-black" asp-action="Logout" asp-controller="User">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Container of elements -->
        </nav>
    </header>
    <!-- === Header === -->

    <!-- === Body === -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- === Body === -->

    <!-- === Footer === -->
    <footer class="border-top footer text-muted bg-white">
        <div class="container d-flex flex-row justify-content-between align-items-center fs-5">
            <p class="copyright fs-5" style="margin-bottom:0px;">&copy; 2024 - Staychill</p>
            <p class="go-feedback fs-5" style="margin-bottom:0px;"><a asp-action="FeedbackIndex" asp-controller="Feedback">Give us a feedback!</a></p>
        </div>
    </footer>
    <!-- === Footer === -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
