@model Staychill.ViewModel.TrackingResultViewModel

<div class="container-fluid sample-1">
    <h2>Tracking Result</h2>

    <p>Shipment Code: @Model.ShipmentCode</p>
    <p>Status: @Model.Status</p>

    @if (Model.RetainCartItems != null && Model.RetainCartItems.Any())
    {
        <h3>Items:</h3>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Total DiscountPrice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RetainCartItems)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice.ToString("C")</td>
                        <td>@item.TotalPrice.ToString("C")</td>
                        <td>@item.TotalDiscountedPrice</td>
                    </tr>
                }
            </tbody>
        </table>


        <div>
            @if (Model.RetainCartItems != null && Model.RetainCartItems.Any())
            {
                <p>Total Discount Price : @Model.RetainCartItems.Sum(item => item.TotalDiscountedPrice ?? 0)</p>
                <p>Total Discount Price : @Model.RetainCartItems.Sum(item => item.DiscountAmount ?? 0)</p>
            }
        </div>
        <div>
            
        </div>

    }
    else
    {
        <p>No items found for this shipment.</p>
    }
</div>
