@model Staychill.Models.ProductModel.Product

@{
    Layout = "_AdminLayout";
}


<h1>Product Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Product Name
        </dt>
        <dd class="col-sm-10">
            @Model.ProductName
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @Model.ProductType
        </dd>
        <dt class="col-sm-2">
            Color
        </dt>
        <dd class="col-sm-10">
            @Model.Color
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            In Stock
        </dt>
        <dd class="col-sm-10">
            @Model.Instock
        </dd>
        <dt class="col-sm-2">
            Images
        </dt>
        <dd class="col-sm-10">
            <div>
                @if (Model.Images != null)
                {
                    if (Model.Images.Image1 != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Images.Image1)}")" alt="Image 1" class="img-thumbnail" />
                    }
                    if (Model.Images.Image2 != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Images.Image2)}")" alt="Image 2" class="img-thumbnail" />
                    }
                    if (Model.Images.Image3 != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Images.Image3)}")" alt="Image 3" class="img-thumbnail" />
                    }
                    if (Model.Images.Image4 != null)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Images.Image4)}")" alt="Image 4" class="img-thumbnail" />
                    }
                }
            </div>
        </dd>
    </dl>
</div>
<a asp-action="ProductIndex" class="btn btn-secondary">Back to List</a>